.block-three { 
  width: 100%;
  height: 100%;
  background-color: #373737;
}

// Slide
.block-three__container { }
.contant-block { }
.contant-block__text { }
.contant-block__line { }
.three-slide { }
.three-slide__item { }
.three-slide__image { }
.three-slide__container { }
.three-slide__num { }
.three-slide-list { }
.three-slide-list__text-fir { }
.three-slide-list__text-sec { }