@font-face {
  font-family: 'Sansation';
  src: local("Sansation Regular"), url("../font/sansationregular.woff2") format("woff2"), url("../font/sansationregular.woff") format("woff"), url("../font/sansationregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation bold';
  src: local("Sansation Bold"), url("../font/sansationbold.woff2") format("woff2"), url("../font/sansationbold.woff") format("woff"), url("../font/sansationbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Sansation';
  list-style-type: none;
  text-decoration: none;
}

fieldset,
legend,
.wrapper {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

legend {
  padding: 0 10px;
}

.btn {
  text-align: center;
  margin: 0 30px;
}

.main-slide {
  width: 100%;
  position: relative;
  padding-top: 2%;
}

.main-slide .slick-slider {
  min-width: 0;
}

.main-slide .slick-list {
  overflow: hidden;
}

.main-slide .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-slide .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-slide .slick-dots li {
  list-style: none;
}

.main-slide .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.main-slide .slick-arrow.slick-next {
  right: 0;
  background: url(../image/svg/iconmonstr-angel-right-circle-thin.svg) no-repeat;
  margin-right: 2%;
}

.main-slide .slick-arrow.slick-prev {
  left: 0;
  background: url(../image/svg/iconmonstr-angel-left-circle-thin.svg) no-repeat;
  margin-left: 2%;
}

.main-slide__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slide__item-contant {
  position: absolute;
}

.main-slide__item-conteiner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: white;
}

.main-slide__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-slide__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-slide__item-contant {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */